@media (max-width: 1200px) {
  .img-avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .img-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

.container {
  margin: 15px auto;
  background-color: #F7F9FC;
}

.card {
  margin: 25px auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 75%;
  box-shadow: 0 0 16px rgba(0,0,0,0.1)
}

body {
  line-height: 20px;
  font-family: 'Space Grotesk', sans-serif;
}


h1 {
  font-size: 14;
  font-weight: 600;
}

h2 {
  font-size: 12;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
	display: inline;
}



#btn-purple {
  background-color: rgba(16, 22, 132, 0.765);
  color: white;
  padding: 10px 40px;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

#btn-purple:hover {
	background-color: red;
}
